/* RESET */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
	color: currentColor;
}

button {
	border: none;
	background-color: transparent;
}

menu,
ul,
ol {
	list-style: none;
}

body {
    font-family: 'Open Sans';
    color: white;
}


/* Layout */

.top__section {
    height: calc(100vh - 100px);
    display: flex;
}

header {
    background-color: black;
    width: 280px;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    background-color: #141923;
    width: 100%;
}

.top-bar {
    background-color: #0E121B;
    padding: 20px;
}

.main-content {
    padding: 20px;
}

footer {
    background-color: #282828;
    height: 100px;
    padding: 20px;
}

/* Webapp */


/* Style */

/* HEADER */

.logo {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
}

header ul {
    list-style: disc;
    padding: 20px;
}


/* MAIN */

.top-bar {
    text-align: right;
}

.subscribe-button {
    background-color: white;
    padding: 16px;
    border-radius: 100px;
    font-size: 18px;
}



/* FOOTER */




/* Utilities */

.flex {
    display: flex;
}




/* Debug */

.debug 

